<ion-view title="About" class="all-view-bg" hide-back-button="true" id="about" cache-view="false">
     <ion-header-bar class="bar-subheader item-button-left test-item" ui-sref="app.categories({projectId:projectId})">
        <span class="back-arrow ion-ios-arrow-left"></span>
        <span class="header-prj-text">Shared library</span>
    </ion-header-bar>
    <ion-content class=" has-header padding">
        <span class="all-ion-text" style="font-size: 15vw; color:#4A6780; text-align: center; padding-top:50vw; display:block;">Shared library</span>          
    </ion-content>
</ion-view>